body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke
}

*{
  outline: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
  display: flex;
  justify-content: flex-start;
}

.main-nav{
  margin: 20px;
  width: 400px;
}

.main-nav-sub{
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
  height: calc(100vh - 340px);
}

.btn-range{
  padding: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}