body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}

*{
  outline: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px;
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
  display: flex;
  justify-content: flex-start;
}

.main-nav{
  margin: 20px;
  width: 400px;
}

.main-nav-sub{
  margin-bottom: 15px;
  padding: 5px;
  height: calc(100vh - 550px);
}

.btn-range{
  margin-top: 10px;
  padding: 5px;
  margin-right: 3px;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  background: none;
}

.btn-range-selected{
  padding: 5px;
  margin-right: 5px;
  background: black;
  color: white;
  cursor: pointer;
}
